.bd-bg{
    background: url(veg.jpg) center center repeat;
    background-size: cover;
    
}
p{
    font-size: large;
}

.cntctfnt{
    font-size: 100%;
}
nav{
    padding: 2rem;
}
li{
    background-color: rgb(165, 12, 7);
}
li a{
    color: antiquewhite;
}
li a:hover{
    background-color: black;
    color: red;
}
li .here{
    background-color: black;
    color: red;
}

main{
    height: 100%;
}